<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUSINESS_AND_FINANCE</key>
	<dict>
		<key>SECTION-3story-G_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>My China</string>
				<string>Asia Deal Blog</string>
				<string>Asian Innovation Awards</string>
				<string>Heard on the Street</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>View From Hong Kong</string>
				<string>Managing in Asia</string>
				<string>Wealth of Knowledge</string>
				<string>Asia Business</string>
			</array>
		</dict>
		<key>SECTION-4story-D-C_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>My China</string>
				<string>Asia Deal Blog</string>
				<string>Asian Innovation Awards</string>
				<string>Heard on the Street</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>View From Hong Kong</string>
				<string>Managing in Asia</string>
				<string>Wealth of Knowledge</string>
				<string>Asia Business</string>
			</array>
		</dict>
	</dict>
	<key>FRONT_SECTION</key>
	<dict>
		<key>FRONT-3story-G-deco_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>b3</key>
			<array/>
			<key>deco</key>
			<array>
				<string>Deco Summary Liondoor Asia</string>
			</array>
		</dict>
		<key>FRONT-4story-E-deco_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>deco</key>
			<array>
				<string>Deco Summary Liondoor Asia</string>
			</array>
		</dict>
		<key>FRONT-4story-E-top_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>b4</key>
			<array/>
		</dict>
		<key>FRONT-4story-E_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>b2</key>
			<array>
				<true/>
			</array>
			<key>b4</key>
			<array/>
		</dict>
		<key>FRONT-4story-F-deco_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>b6</key>
			<array/>
			<key>deco</key>
			<array>
				<string>Deco Summary Liondoor Asia</string>
			</array>
		</dict>
		<key>FRONT-4story-F_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>b4</key>
			<array/>
		</dict>
		<key>FRONT-4story-Vertical-deco_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>deco</key>
			<array>
				<string>Deco Summary Liondoor Asia</string>
			</array>
		</dict>
		<key>FRONT-4story-big-news_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>b4</key>
			<array/>
		</dict>
		<key>FRONT-5story-F-deco_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>deco</key>
			<array>
				<string>Deco Summary Liondoor Asia</string>
			</array>
		</dict>
	</dict>
	<key>LIFE_AND_STYLE</key>
	<dict>
		<key>SECTION-1story-P-1highlight-white_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h3</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Road Warriors</string>
				<string>Scene Asia</string>
				<string>Leisure &amp; Arts</string>
				<string>Film</string>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Citywalk</string>
				<string>One Hour Out</string>
				<string>Travel</string>
				<string>Food &amp; Drink</string>
				<string>Style</string>
				<string>Theater</string>
				<string>TV</string>
			</array>
		</dict>
		<key>SECTION-1story-P-1highlight_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h3</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Road Warriors</string>
				<string>Scene Asia</string>
				<string>Leisure &amp; Arts</string>
				<string>Film</string>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Citywalk</string>
				<string>One Hour Out</string>
				<string>Travel</string>
				<string>Food &amp; Drink</string>
				<string>Style</string>
				<string>Theater</string>
				<string>TV</string>
			</array>
		</dict>
		<key>SECTION-1story-PV-1highlight_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h3</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Road Warriors</string>
				<string>Scene Asia</string>
				<string>Leisure &amp; Arts</string>
				<string>Film</string>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Citywalk</string>
				<string>One Hour Out</string>
				<string>Travel</string>
				<string>Food &amp; Drink</string>
				<string>Style</string>
				<string>Theater</string>
				<string>TV</string>
			</array>
		</dict>
		<key>SECTION-1story-PV-white_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Road Warriors</string>
				<string>Scene Asia</string>
				<string>Leisure &amp; Arts</string>
				<string>Film</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Citywalk</string>
				<string>One Hour Out</string>
				<string>Travel</string>
				<string>Food &amp; Drink</string>
				<string>Style</string>
				<string>Theater</string>
				<string>TV</string>
			</array>
		</dict>
		<key>SECTION-1story-PV_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Road Warriors</string>
				<string>Scene Asia</string>
				<string>Leisure &amp; Arts</string>
				<string>Film</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Citywalk</string>
				<string>One Hour Out</string>
				<string>Travel</string>
				<string>Food &amp; Drink</string>
				<string>Style</string>
				<string>Theater</string>
				<string>TV</string>
			</array>
		</dict>
		<key>SECTION-1story-P_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Road Warriors</string>
				<string>Scene Asia</string>
				<string>Leisure &amp; Arts</string>
				<string>Film</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Citywalk</string>
				<string>One Hour Out</string>
				<string>Travel</string>
				<string>Food &amp; Drink</string>
				<string>Style</string>
				<string>Theater</string>
				<string>TV</string>
			</array>
		</dict>
		<key>SECTION-2story-G-C_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Road Warriors</string>
				<string>Scene Asia</string>
				<string>Leisure &amp; Arts</string>
				<string>Film</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Citywalk</string>
				<string>One Hour Out</string>
				<string>Travel</string>
				<string>Food &amp; Drink</string>
				<string>Style</string>
				<string>Theater</string>
				<string>TV</string>
			</array>
		</dict>
		<key>SECTION-3story-G_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
			</array>
		</dict>
	</dict>
	<key>OPINION</key>
	<dict>
		<key>OPINION-2story-D_template</key>
		<dict>
			<key>b1</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b2</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Business in Asia</string>
				<string>Main Street</string>
				<string>Business World</string>
				<string>Wonderland</string>
				<string>Declarations</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Opinion Asia</string>
				<string>Opinion India</string>
				<string>Global View</string>
			</array>
		</dict>
		<key>OPINION-2story-E_template</key>
		<dict>
			<key>b1</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b2</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Business in Asia</string>
				<string>Main Street</string>
				<string>Business World</string>
				<string>Wonderland</string>
				<string>Declarations</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Opinion Asia</string>
				<string>Opinion India</string>
				<string>Global View</string>
			</array>
		</dict>
		<key>OPINION-3story-D_template</key>
		<dict>
			<key>b1</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b2</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b3</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Business in Asia</string>
				<string>Main Street</string>
				<string>Business World</string>
				<string>Wonderland</string>
				<string>Declarations</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Opinion Asia</string>
				<string>Opinion India</string>
				<string>Global View</string>
			</array>
		</dict>
		<key>OPINION-3story-E_template</key>
		<dict>
			<key>b1</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b2</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b3</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Business in Asia</string>
				<string>Main Street</string>
				<string>Business World</string>
				<string>Wonderland</string>
				<string>Declarations</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Opinion Asia</string>
				<string>Opinion India</string>
				<string>Global View</string>
			</array>
		</dict>
		<key>OPINION-4story-1E_template</key>
		<dict>
			<key>b1</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b2</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b3</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b4</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Business in Asia</string>
				<string>Main Street</string>
				<string>Business World</string>
				<string>Wonderland</string>
				<string>Declarations</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Opinion Asia</string>
				<string>Opinion India</string>
				<string>Global View</string>
			</array>
		</dict>
		<key>OPINION-4story-D_template</key>
		<dict>
			<key>b1</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b2</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b3</key>
			<array>
				<true/>
			</array>
			<key>b4</key>
			<array>
				<string>Opinion Asia</string>
				<string>Commentary (U.S.)</string>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Business in Asia</string>
				<string>Main Street</string>
				<string>Business World</string>
				<string>Wonderland</string>
				<string>Declarations</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Opinion Asia</string>
				<string>Opinion India</string>
				<string>Global View</string>
			</array>
		</dict>
		<key>OPINION-4story-E_template</key>
		<dict>
			<key>b1</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b2</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b3</key>
			<array>
				<true/>
			</array>
			<key>b4</key>
			<array>
				<string>Opinion Asia</string>
				<string>Commentary (U.S.)</string>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Business in Asia</string>
				<string>Main Street</string>
				<string>Business World</string>
				<string>Wonderland</string>
				<string>Declarations</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Opinion Asia</string>
				<string>Opinion India</string>
				<string>Global View</string>
			</array>
		</dict>
		<key>OPINION-5story-D_template</key>
		<dict>
			<key>b1</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b2</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b3</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b4</key>
			<array>
				<true/>
			</array>
			<key>b5</key>
			<array>
				<string>Opinion Asia</string>
				<string>Commentary (U.S.)</string>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Business in Asia</string>
				<string>Main Street</string>
				<string>Business World</string>
				<string>Wonderland</string>
				<string>Declarations</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Opinion Asia</string>
				<string>Opinion India</string>
				<string>Global View</string>
			</array>
		</dict>
		<key>OPINION-5story-E_template</key>
		<dict>
			<key>b1</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b2</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b3</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b4</key>
			<array>
				<true/>
			</array>
			<key>b5</key>
			<array>
				<string>Opinion Asia</string>
				<string>Commentary (U.S.)</string>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Business in Asia</string>
				<string>Main Street</string>
				<string>Business World</string>
				<string>Wonderland</string>
				<string>Declarations</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Opinion Asia</string>
				<string>Opinion India</string>
				<string>Global View</string>
			</array>
		</dict>
		<key>OPINION-6story-D_template</key>
		<dict>
			<key>b1</key>
			<array>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Letters</string>
			</array>
			<key>b2</key>
			<array>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Letters</string>
			</array>
			<key>b3</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b4</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b5</key>
			<array>
				<true/>
			</array>
			<key>b6</key>
			<array>
				<string>Opinion Asia</string>
				<string>Commentary (U.S.)</string>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Business in Asia</string>
				<string>Main Street</string>
				<string>Business World</string>
				<string>Wonderland</string>
				<string>Declarations</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Opinion Asia</string>
				<string>Opinion India</string>
				<string>Global View</string>
			</array>
		</dict>
		<key>OPINION-6story-E_template</key>
		<dict>
			<key>b1</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b2</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b3</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b4</key>
			<array>
				<string>Review &amp; Outlook (Asia)</string>
				<string>Review &amp; Outlook (U.S.)</string>
				<string>Review &amp; Outlook (Europe)</string>
				<string>Letters</string>
			</array>
			<key>b5</key>
			<array>
				<true/>
			</array>
			<key>b6</key>
			<array>
				<string>Opinion Asia</string>
				<string>Commentary (U.S.)</string>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Business in Asia</string>
				<string>Main Street</string>
				<string>Business World</string>
				<string>Wonderland</string>
				<string>Declarations</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Opinion Asia</string>
				<string>Opinion India</string>
				<string>Global View</string>
			</array>
		</dict>
	</dict>
	<key>PERSONAL_JOURNAL</key>
	<dict>
		<key>SECTION-1story-P-1highlight-white_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h3</key>
			<array>
				<string>Second Act</string>
				<string>Managing your career </string>
				<string>What's Your Workout</string>
				<string>Pay grade</string>
				<string>Mossberg Solution</string>
				<string>Moving On</string>
				<string>The Middle Seat</string>
				<string>Off the Beaten Track</string>
				<string>Health Journal</string>
				<string>Health Beat</string>
				<string>Informed Patient </string>
				<string>In the Lab </string>
				<string>Aches and Claims </string>
				<string>Research Report </string>
				<string>Work and Family</string>
				<string>Cranky Consumer</string>
			</array>
		</dict>
		<key>SECTION-1story-P-1highlight_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h3</key>
			<array>
				<string>Second Act</string>
				<string>Managing your career </string>
				<string>What's Your Workout</string>
				<string>Pay grade</string>
				<string>Mossberg Solution</string>
				<string>Moving On</string>
				<string>The Middle Seat</string>
				<string>Off the Beaten Track</string>
				<string>Health Journal</string>
				<string>Health Beat</string>
				<string>Informed Patient </string>
				<string>In the Lab </string>
				<string>Aches and Claims </string>
				<string>Research Report </string>
				<string>Work and Family</string>
				<string>Cranky Consumer</string>
			</array>
		</dict>
		<key>SECTION-1story-PV-1highlight_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h3</key>
			<array>
				<string>Second Act</string>
				<string>Managing your career </string>
				<string>What's Your Workout</string>
				<string>Pay grade</string>
				<string>Mossberg Solution</string>
				<string>Moving On</string>
				<string>The Middle Seat</string>
				<string>Off the Beaten Track</string>
				<string>Health Journal</string>
				<string>Health Beat</string>
				<string>Informed Patient </string>
				<string>In the Lab </string>
				<string>Aches and Claims </string>
				<string>Research Report </string>
				<string>Work and Family</string>
				<string>Cranky Consumer</string>
			</array>
		</dict>
		<key>SECTION-1story-PV-white_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Second Act</string>
				<string>Managing your career </string>
				<string>What's Your Workout</string>
				<string>Pay grade</string>
				<string>Mossberg Solution</string>
				<string>Moving On</string>
				<string>The Middle Seat</string>
				<string>Off the Beaten Track</string>
			</array>
			<key>h2</key>
			<array>
				<string>Health Journal</string>
				<string>Health Beat</string>
				<string>Informed Patient </string>
				<string>In the Lab </string>
				<string>Aches and Claims </string>
				<string>Research Report </string>
				<string>Work and Family</string>
				<string>Cranky Consumer</string>
			</array>
		</dict>
		<key>SECTION-1story-PV_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Second Act</string>
				<string>Managing your career </string>
				<string>What's Your Workout</string>
				<string>Pay grade</string>
				<string>Mossberg Solution</string>
				<string>Moving On</string>
				<string>The Middle Seat</string>
				<string>Off the Beaten Track</string>
			</array>
			<key>h2</key>
			<array>
				<string>Health Journal</string>
				<string>Health Beat</string>
				<string>Informed Patient </string>
				<string>In the Lab </string>
				<string>Aches and Claims </string>
				<string>Research Report </string>
				<string>Work and Family</string>
				<string>Cranky Consumer</string>
			</array>
		</dict>
		<key>SECTION-1story-P_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Second Act</string>
				<string>Managing your career </string>
				<string>What's Your Workout</string>
				<string>Pay grade</string>
				<string>Mossberg Solution</string>
				<string>Moving On</string>
				<string>The Middle Seat</string>
				<string>Off the Beaten Track</string>
			</array>
			<key>h2</key>
			<array>
				<string>Health Journal</string>
				<string>Health Beat</string>
				<string>Informed Patient </string>
				<string>In the Lab </string>
				<string>Aches and Claims </string>
				<string>Research Report </string>
				<string>Work and Family</string>
				<string>Cranky Consumer</string>
			</array>
		</dict>
		<key>SECTION-2story-G-C_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Second Act</string>
				<string>Managing your career </string>
				<string>What's Your Workout</string>
				<string>Pay grade</string>
				<string>Mossberg Solution</string>
				<string>Moving On</string>
				<string>The Middle Seat</string>
				<string>Off the Beaten Track</string>
			</array>
			<key>h2</key>
			<array>
				<string>Health Journal</string>
				<string>Health Beat</string>
				<string>Informed Patient </string>
				<string>In the Lab </string>
				<string>Aches and Claims </string>
				<string>Research Report </string>
				<string>Work and Family</string>
				<string>Cranky Consumer</string>
			</array>
		</dict>
		<key>SECTION-3story-G-deco-C_template</key>
		<dict>
			<key>b1</key>
			<array/>
			<key>deco</key>
			<array/>
			<key>h1</key>
			<array/>
			<key>h2</key>
			<array/>
		</dict>
		<key>SECTION-4story-smallG-deco_template</key>
		<dict>
			<key>b1</key>
			<array/>
			<key>deco</key>
			<array/>
			<key>h1</key>
			<array/>
			<key>h2</key>
			<array/>
		</dict>
	</dict>
	<key>THE_JOURNAL_REPORT</key>
	<dict>
		<key>SECTION-1story-P-1highlight-white_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h3</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
			</array>
		</dict>
		<key>SECTION-1story-P-1highlight_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h3</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
			</array>
		</dict>
		<key>SECTION-1story-PV-1highlight_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h3</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
			</array>
		</dict>
		<key>SECTION-1story-PV-white_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
			</array>
		</dict>
		<key>SECTION-1story-PV_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
			</array>
		</dict>
		<key>SECTION-1story-P_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
			</array>
		</dict>
		<key>SECTION-2story-G-C_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
			</array>
		</dict>
	</dict>
	<key>WEEKEND_JOURNAL</key>
	<dict>
		<key>SECTION-1story-P-1highlight-white_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Road Warriors</string>
				<string>Scene Asia</string>
				<string>Leisure &amp; Arts</string>
				<string>Film</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Citywalk</string>
				<string>One Hour Out</string>
				<string>Travel</string>
				<string>Food &amp; Drink</string>
				<string>Style</string>
				<string>Theater</string>
				<string>TV</string>
			</array>
		</dict>
		<key>SECTION-1story-P-1highlight_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Road Warriors</string>
				<string>Scene Asia</string>
				<string>Leisure &amp; Arts</string>
				<string>Film</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Citywalk</string>
				<string>One Hour Out</string>
				<string>Travel</string>
				<string>Food &amp; Drink</string>
				<string>Style</string>
				<string>Theater</string>
				<string>TV</string>
			</array>
		</dict>
		<key>SECTION-1story-PV-1highlight_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Road Warriors</string>
				<string>Scene Asia</string>
				<string>Leisure &amp; Arts</string>
				<string>Film</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Citywalk</string>
				<string>One Hour Out</string>
				<string>Travel</string>
				<string>Food &amp; Drink</string>
				<string>Style</string>
				<string>Theater</string>
				<string>TV</string>
			</array>
		</dict>
		<key>SECTION-1story-PV-white_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Road Warriors</string>
				<string>Scene Asia</string>
				<string>Leisure &amp; Arts</string>
				<string>Film</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Citywalk</string>
				<string>One Hour Out</string>
				<string>Travel</string>
				<string>Food &amp; Drink</string>
				<string>Style</string>
				<string>Theater</string>
				<string>TV</string>
			</array>
		</dict>
		<key>SECTION-1story-PV_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Road Warriors</string>
				<string>Scene Asia</string>
				<string>Leisure &amp; Arts</string>
				<string>Film</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Citywalk</string>
				<string>One Hour Out</string>
				<string>Travel</string>
				<string>Food &amp; Drink</string>
				<string>Style</string>
				<string>Theater</string>
				<string>TV</string>
			</array>
		</dict>
		<key>SECTION-1story-P_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Road Warriors</string>
				<string>Scene Asia</string>
				<string>Leisure &amp; Arts</string>
				<string>Film</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Citywalk</string>
				<string>One Hour Out</string>
				<string>Travel</string>
				<string>Food &amp; Drink</string>
				<string>Style</string>
				<string>Theater</string>
				<string>TV</string>
			</array>
		</dict>
		<key>SECTION-2story-G-C_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Road Warriors</string>
				<string>Scene Asia</string>
				<string>Leisure &amp;amp; Arts</string>
				<string>Film</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
				<string>Citywalk</string>
				<string>One Hour Out</string>
				<string>Travel</string>
				<string>Food &amp;amp; Drink</string>
				<string>Style</string>
				<string>Theater</string>
				<string>TV</string>
			</array>
		</dict>
	</dict>
	<key>WSJ_MAGAZINE</key>
	<dict>
	<key>CONTINUATION-fancy-3OV-7_template</key>
		<dict>
			<key>deco</key>
			<array>
				<string>Deco Summary Liondoor MagCont1-3OVs-OV1</string>
			</array>
			<key>deco2</key>
			<array>
				<string>Deco Summary Liondoor MagCont1-3OVs-OV2</string>
			</array>
			<key>deco3</key>
			<array>
				<string>Deco Summary Liondoor MagCont1-3OVs-OV3</string>
			</array>
		</dict>
		<key>CONTINUATION-fancy-smallG-OV-6_template</key>
		<dict>
			<key>deco</key>
			<array>
				<string>Deco Summary Liondoor MagCont2-SmallG_OV-G</string>
			</array>
			<key>deco2</key>
			<array>
				<string>Deco Summary Liondoor MagCont2-SmallG_OV-OV</string>
			</array>
		</dict>
		<key>CONTINUATION-fancy-6_template</key>
		<dict>
			<key>deco</key>
			<array>
				<string>Deco Summary Liondoor MagCont1</string>
			</array>
		</dict>
		<key>CONTINUATION-fancy-bottom-6_template</key>
		<dict>
			<key>deco</key>
			<array>
				<string>Deco Summary Liondoor MagCont2</string>
				<string>Deco Summary Liondoor MagCont3</string>
			</array>
		</dict>
		<key>SECTION-1story-P-1highlight-white_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h3</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
			</array>
		</dict>
		<key>SECTION-1story-P-1highlight_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h3</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
			</array>
		</dict>
		<key>SECTION-1story-PV-1highlight_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h3</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
			</array>
		</dict>
		<key>SECTION-1story-PV-white_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
			</array>
		</dict>
		<key>SECTION-1story-PV_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
			</array>
		</dict>
		<key>SECTION-1story-P_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
			</array>
		</dict>
		<key>SECTION-3story-G_template</key>
		<dict>
			<key>b1</key>
			<array>
				<true/>
			</array>
			<key>h1</key>
			<array>
				<string>Mobile Tablet Highlight1A</string>
				<string>Mobile Tablet Highlight1B</string>
			</array>
			<key>h2</key>
			<array>
				<string>Mobile Tablet Highlight2A</string>
				<string>Mobile Tablet Highlight2B</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
